.posts-content{
  margin-top:20px;
}
.ui-w-40 {
  width: 40px;
  height: auto;
}
.default-style .ui-bordered {
  border: 1px solid rgba(24,28,33,0.06);
}
.ui-bg-cover {
  background-color: transparent;
  background-position: center center;
  background-size: cover;
}
.ui-rect {
  padding-top: 50%;
}
.ui-rect > span.ext {
  visibility: hidden;
}

.ui-rect, .ui-rect-30, .ui-rect-60, .ui-rect-67, .ui-rect-75 {
  position: relative;
  display: block;
  padding-top: 100%;
  width: 100%;
}

.bg-dark {
  background-color: rgba(24,28,33,0.9);
}
.card-footer, .card hr {
  border-color: rgba(24,28,33,0.06);
}
.ui-rect-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.default-style .ui-bordered {
  border: 1px solid rgba(24,28,33,0.06);
}

.social-feed-item__author {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding: 1rem 0;
  margin-top: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.15);
  border-left: none;
  border-right: none;
  color: #000;
}
.social-feed-item__author span.ext,
.social-feed-item__button .ext,
.social-feed-item__button:not(.social-feed-item__button--share) {
  display: none;
}
.social-feed-item__author a.social-feed-item__author-link span {
  color: #000;
  text-decoration: none !important;
}
.social-feed-item__author-name {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
}
.social-feed-item__author-image {
  width: 4rem;
  border-radius: 2rem;
  overflow: hidden;
}
.social-feed-item__author-contact {
  margin-left: 0.5rem;
  font-size: 1rem;
}
.post-message {
  color: #000000;
}
