{#
/**
 * @file
 * Default theme implementation to display a facebook post.
 *
 * Available variables:
 * - post
 *   - id
 *   - picture
 *   - attachments[]
 *   - icon
 *   - created_time
 *   - from[]
 *   - name
 *   - link
 *   - type
 *   - message
 *   - description
 *
 * @ingroup themeable
 */
#}
<div class="container posts-content">
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
          <div class="social-feed-item__author">
            {% if profile_pic %}
              <div class="social-feed-item__author-image">
                <img src="{{ profile_pic }}">
              </div>
            {% endif %}

            <span class="social-feed-item__author-contact">
              {% if post.from.name %}
                <a class="social-feed-item__author-link" href="https://www.facebook.com/{{ post.from.name }}-{{ post.from.id }}" style="text-decoration: none !important;">
                  <div class="social-feed-item__author-name">
                    <span>{{ post.from.name }}</span>
                  </div>
                  {% if post.created_time %}
                    <span>{{ post.created_time }}</span>
                  {% endif %}
                </a>
              {% endif %}
            </span>
          </div>
        </div>
        <p class="post-message">
          {{ post.message }}
        </p>
        {% if post.picture or 'video' in post.type %}
          {% if 'video' not in post.type %}
            <a href="{{ post.link }}" class="ui-rect ui-bg-cover" style="background-image: url({{ post.attachments.data.0.media.image.src }});"></a>
          {% else %}
            <iframe width="100%" height="{{ post.attachments.data.0.media.image.height }}" allowfullscreen src="{{ post.attachments.data.0.media.source }}"></iframe>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
