{#
/**
 * @file
 * Default theme implementation to display a instagram post.
 *
 * Available variables:
 * - instagram
 *   - instagram_user
 *   - instagram_link
 *   - timestamp
 *   - caption
 *   - low_resolution
 *
 * @ingroup themeable
 */
#}
<div class="container posts-content">
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
          <div class="social-feed-item__author">
            {% if profile_pic %}
              <div class="social-feed-item__author-image">
                <img src="{{ profile_pic }}">
              </div>
            {% endif %}

            <span class="social-feed-item__author-contact">
              {% if post.username %}
                <a class="social-feed-item__author-link" href="https://www.instagram.com/{{ post.username }}" style="text-decoration: none !important;">
                  <div class="social-feed-item__author-name">
                    <span>{{ post.username }}</span>
                  </div>
                  {% if post.timestamp %}
                    <span>{{ post.timestamp }}</span>
                  {% endif %}
                </a>
              {% endif %}
            </span>
          </div>
        </div>
        <p class="post-message">
          {{ post.caption }}
        </p>
        {% if post.media_type in ['CAROUSEL_ALBUM', 'IMAGE', 'VIDEO'] %}
          {% if post.media_type in ['CAROUSEL_ALBUM', 'IMAGE'] %}
            <a href="{{ post.permalink }}" class="ui-rect ui-bg-cover" style="background-image: url({{ post.media_url }});"></a>
          {% else %}
            <iframe width="100%" height="auto" allowfullscreen src="{{ post.media_url }}"></iframe>
          {% endif %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
