{#
/**
 * @file
 * Default theme implementation to display a twitter post.
 *
 *
 * @ingroup themeable
 */
#}
<div class="container posts-content">
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
          <div class="social-feed-item__author">
            {% if tweet.profile_image %}
              <div class="social-feed-item__author-image">
                <img src="{{ tweet.profile_image }}">
              </div>
            {% endif %}

            <span class="social-feed-item__author-contact">
              {% if tweet.screen_name %}
                <a class="social-feed-item__author-link" href="https://www.twitter.com/{{ tweet.screen_name }}" style="text-decoration: none !important;">
                  <div class="social-feed-item__author-name">
                    <span>{{ tweet.username }}</span>
                  </div>
                  <span>@{{ tweet.screen_name }}</span>
                  {% if tweet.date %}
                    <span>{{ tweet.date }}</span>
                  {% endif %}
                </a>
              {% endif %}
            </span>
          </div>
        </div>
        <p class="post-message">
          {{ tweet.message }}
        </p>
        {% if tweet.media_url %}
          <div class="social-feed-item__media">
            {% if tweet.media_type == "video" %}
              <iframe width="540" height="562" allowfullscreen src="{{ tweet.media_url }}"></iframe>
            {% else %}
              <a href="{{ tweet.link }}" class="ui-rect ui-bg-cover" style="background-image: url({{ tweet.media_url }});"></a>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
