{#
/**
 * @file
 * Default theme implementation to display a youtube post.
 *
 *
 * @ingroup themeable
 */
#}
<div class="container posts-content">
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
          <div class="social-feed-item__author">
            {% if profile_pic %}
              <div class="social-feed-item__author-image">
                <img src="{{ profile_pic }}">
              </div>
            {% endif %}

            <span class="social-feed-item__author-contact">
              {% if video.channel_title %}
                <a class="social-feed-item__author-link" href="https://www.youtube.com/channel/{{- video.channel_id -}}" style="text-decoration: none !important;">
                  <div class="social-feed-item__author-name">
                    <span>{{ video.channel_title }}</span>
                  </div>
                  {% if video.published_date %}
                    <span>{{ video.published_date }}</span>
                  {% endif %}
                </a>
              {% endif %}
            </span>
          </div>
        </div>
        <p class="post-message">
          {{ video.title }}
        </p>
        {% if video.video_id %}
          <iframe width="640" height="480" allowfullscreen src="https://www.youtube.com/embed/{{- video.video_id -}}"></iframe>
        {% endif %}
      </div>
    </div>
  </div>
</div>
